<style type="text/css">
  ul {
    margin: 30px 0;
    list-style: none;
  }

  ul li {
    margin: 10px 0;
  }

</style>

<main class="container">
  <section class="row">

    <!-- Navigation -->
    <nav class="col col-12">
      <ul>
        <li><a href="{{{fullHostUrl}}}/plantMon">TAAS Test Center Tester Monitor</a></li>
        <li><a href="{{{fullHostUrl}}}/senseHat">TAAS Test Center SenseHat Monitor</a></li>
        <li><a href="{{{fullHostUrl}}}/aggregate">TAAS Test Center Aggregate Monitor</a></li>
        <li><a href="{{{fullHostUrl}}}/monitor">TAAS Test Center Aggregate Status Monitor</a></li>
        <li><a href="{{{fullHostUrl}}}/zones">TAAS Test Center Zones Page</a></li>
      </ul>
    </nav><!-- /nav -->

  </section><!-- /row -->
</main><!-- /main -->
